@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alegreya+Sans+SC:wght@700;800&family=Caesar+Dressing&family=Crimson+Text:ital@1&family=Spectral+SC&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: $alegreya-sans;
    margin: 0;
    background: black;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}