$alegreya-sans: 'Alegreya Sans', sans-serif;
$alegreya-sans-sc: 'Alegreya Sans SC', sans-serif;
$caesar-dressing: 'Caesar Dressing', cursive;
$crimson-text: 'Crimson Text', serif;
$spectral-sc: 'Spectral SC', serif;

@mixin alegreya-sans-sc-regular {
    font-family: $alegreya-sans-sc;
    font-weight: 400;
}

@mixin alegreya-sans-sc-bold {
    font-family: $alegreya-sans-sc;
    font-weight: 700;
}

@mixin alegreya-sans-sc-extra-bold {
    font-family: $alegreya-sans-sc;
    font-weight: 800;
}

$img-head-path: 'src/img/';

$maximum-width: 1200px;

@mixin item-frame($type, $height, $padding) {
    $frame-size: $height;
    width: $frame-size;
    height: $frame-size;
    background-image: url($img-head-path + 'misc/tray.png');
    background-size: contain;
    padding: $padding;
    display: flex;
    position: relative;

    .#{$type}-icon {
        width: 100%;
        height: 100%;
    }
}